@import 'fonts.css';
@import '../blok/heder.css';
@import '../blok/baner.css';
@import '../blok/advertising.css';
@import '../blok/footer.css';
@import '../blok/icon.css';
@import '../blok/about.css';

ul,ol,h1,h2,h3,h4,h5,h6,p,body{
    margin: 0;
    padding: 0px;
}

ul,ol{
    list-style-type: none;
}

body{
    background-color: #fff;
}

.container-fluid{
    /* box-sizing: border-box; */
    /* width: 100%; */
    padding-left: 15px;
    padding-right: 15px;
}

.container{
    margin: 0 auto;
    width: 960px;
    box-sizing: border-box;
    padding: 0 10px;
}