.bg-footer{
    background-color: #cb3362;
    height: 200px;
    clear: both;
}

footer li{
    display: inline-block;
    list-style-type: none;
    padding: 0px 15px;
}

footer ul{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 37px;
}

footer p {
    font-size: 12px;
    text-align: center;
    color: #fff;
}