.bg-header{
    background-color: rgba(176,163,169,0.2);
    padding: 50px 0;
}

.bg-header nav{
    float: right;
}
.bg-header nav>ul>li{
    float: left;
}
.bg-header  a{
    font-size: 15px;
    font-family: "latoR";
    color: #afa3a4;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    width: 140px;
    text-align: center;
    line-height: 25px;
}

.bg-header .activi{
    color: #cb3362;
}

.drop_list ul{
    display: none;
}

.bg-header nav a:hover{
    color: #c8c10d;
}

.drop_list:hover ul{
    display: block;
}

.bg-header .logo{
    font-size: 30px;
    font-family: "RammettoOne";
    color: rgb(203, 51, 98);
    text-transform: capitalize;
    position: relative;
    display: inline-block;
}

.logo span{
    color: #c8c10d;
}

.logo img{
    position: absolute;
    top: -12px;
    left: 100px;
}